
@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="Admin.css">
</head>
<body>

    <div class="dashboard-container">
        <h1>Admin Dashboard</h1>
        <div class="dashboard-links">
            <a href="ManageContent" class="dashboard-btn">Manage Songs</a>
            <a href="ManageUsers" class="dashboard-btn">Manage Users</a>
        </div>
    </div>

</body>
</html>

